<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>335076809400-m92ujooda99si4q3s1ss7n8f7op6a4tn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.335076809400-m92ujooda99si4q3s1ss7n8f7op6a4tn</string>
	<key>API_KEY</key>
	<string>AIzaSyBPZnSNJ66xXCUOIWaPcxG8C7PtijYdsSI</string>
	<key>GCM_SENDER_ID</key>
	<string>335076809400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.msi.SDQAFAE</string>
	<key>PROJECT_ID</key>
	<string>msifae-ec4ef</string>
	<key>STORAGE_BUCKET</key>
	<string>msifae-ec4ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:335076809400:ios:61bd3c0e4e01d0a2</string>
	<key>DATABASE_URL</key>
	<string>https://msifae-ec4ef.firebaseio.com</string>
</dict>
</plist>